doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/styles.css")
  body
    nav.navbar
      .navbar-container
        a.navbar-link(href="/") Home
        a.navbar-link(href="/login") Login
        a.navbar-link(href="/register") Register

    .auth-container
      .auth-box
        h1 Login
        form(action="/login", method="POST", autocomplete="off")
          .input-group
            label(for="name") Name
            input#name(type="text", name="name", placeholder="Enter your name" required)
          .input-group
            label(for="email") Email
            input#email(type="email", name="email", placeholder="Enter your email" required)
          .input-group
            label(for="password") Password
            input#password(type="password", name="password", placeholder="Enter your password" required)
          button.auth-button(type="submit") Login
        p Don't have an account? 
          a(href="/register") Register here
